@model IEnumerable<QLBH_NguyenHoangTrungThong.Models.Cart>

@{
    ViewBag.Title = "ListCart";
}

<h2>ListCart</h2>

<p>
    <a href="@Url.Action("ListProduct", "Product")"> Back to list</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quatity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quatity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID }) |
            </td>
        </tr>
        <tr>
            <td colspan="2">Số lượng sản phẩm: @ViewBag.CountProduct</td>
            <td colspan="2">Thành tiền: @String.Format("{0:0.00}", ViewBag.Total) VNĐ</td>
            <td colspan="2">@Html.ActionLink("Đặt Hàng", "OrderProduct")</td>
        </tr>
    }

</table>